.sponsors {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgb(61, 59, 59);
  color: white;
  font-size: 20px;
  height: 200px;
}

.sponsorList {
  list-style: none;
  display: flex;
  flex-direction: row;
  color: white;
  justify-content: space-evenly;
  width: 100%;
}

.rigths {
  background-color: white;
  height: 200px;
}