.headline {
  width: 100%;
  margin: auto;
  background-color: rgb(241, 231, 212);
  background-size: contain;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.headlineDiv {
  width: 95%;
}

.miniTitle {
  color: black;
}

.pageTitle {
  font-size: 28px;
  color: black;
}

.titleDescription {
  border: 2px solid;
  border-color: white;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.dateOfConcert {

}

.places {
  padding-bottom: 70px;
}