.headline {
  width: 100%;
  margin: auto;
  background-image: url(../assets/Headline/backgroundDesign.png);
  background-size: contain;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 20px;
}

.headlineDiv {
  width: 95%;
}

.miniTitle {
  color: black;
}

.pageTitle {
  font-size: 28px;
  color: black;
  padding-bottom: 10px;
}

.titleDescription {
  border: 3px solid;
  border-color: white;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 20px;
  max-width: 680px;
}

.dateOfConcert {
  margin-bottom: 10px;
}

.places {
  padding-bottom: 70px;
}

.headlineAbout {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-image: url(../assets/Headline/backgroundDesingAbout.png);
  background-size: contain;
  background-repeat: no-repeat;
}

.headlineDivAbout {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 95%;
}

.smallTitle {
  margin-bottom: 10px;
}

.pageTitleAbout {
  font-size: 34px;
  color: orangered;
}

.aboutDescription {
  border: 2px solid rgb(222, 222, 222);
  text-align: center;
  max-width: 375px;
  background-color: white;
  color: rgb(124, 124, 124);
  padding: 15px;
  margin-top: 20px;
  margin-bottom: 20px;
  line-height: 30px;
  font-weight: bold;
}

.aboutDescriptionDesktop {
  display: none;
}

.conctactInfo {
  text-align: center;
  font-size: 15px;
  font-weight: bold;
  color: rgb(124, 124, 124);
  margin-bottom: 10px;
}

.email {
  font-weight: bold;
  padding-bottom: 40px;
  text-decoration: underline;
}

@media only screen and (min-width: 768px) {
  .headlineDiv {
    width: 80%;
  }

  .miniTitle {
    font-size: 30px;
  }

  .pageTitle {
    font-size: 70px;
  }

  .titleDescription {
    font-size: 18px;
    border-width: 5px;
    padding: 20px;
    line-height: 28px;
  }

  .dateOfConcert {
    font-size: 40px;
  }

  .places {
    font-size: 18px;
  }

  .aboutDescription {
    display: none;
  }

  .smallTitle {
    display: none;
  }

  .pageTitleAbout {
    font-size: 60px;
    margin-top: 100px;
  }

  .aboutDescriptionDesktop {
    display: initial;
    text-align: center;
    border: 3px solid rgb(224, 224, 224);
    padding: 35px;
    background-color: white;
    margin-top: 60px;
    margin-bottom: 60px;
    line-height: 26px;
  }

  .breakMobile {
    display: none;
  }

  .conctactInfo {
    font-size: 18px;
  }

  .email {
    font-size: 18px;
  }
}
