.headline {
  width: 95%;
  margin: auto;
  background-image: url(../assets/program/image\ \(3\).png);
  background-size: fill;
}

.miniTitle {
  color: rgb(255, 102, 0);
}

.pageTitle {
  font-size: 28px;
  color: rgb(255, 102, 0);
}

.titleDescription {
  border: 2px solid;
  border-color: white;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.dateOfConcert {

}

.places {
  padding-bottom: 70px;
}