.navBar {
  border: 1px solid;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  background-color: rgb(250, 240, 223);
  display: flex;
  flex-direction: row;
}

.hambugerMenu {
  border: none;
  background-color: transparent;
  margin-left: 10px;
}

.hambugerMenuImg {
  height: 40px;
  width: 40px;
}

.navbarList {
  list-style: none;
  display: none;
}

@media only screen and (min-width: 768px) {
  .navbar {
    justify-content: center;
  }

  .hambugerMenu {
    display: none;
  }

  .orchestraIcon {
    height: 50px;
    margin-top: 5px;
  }

  .navbarList {
    width: 70%;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
}