.navBar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  z-index: 8;
}

.hambugerMenu {
  border: none;
  background-color: transparent;
  margin-left: 10px;
}

.hambugerMenuImg {
  height: 40px;
  width: 40px;
}

.navbarList {
  list-style: none;
  display: none;
  gap: 40px;
  padding: 0;
  width: 100%;
}

.navbarFirst {
  width: 30%;
}

.lastItem {
  white-space: nowrap;
  border: 5px solid orangered;
  padding: 10px;
  color: orangered;
}

.navbarLink:link,
.navbarLink:active,
.navbarLink:hover,
.navbarLink:visited {
  color: inherit;
  text-decoration: none;
}

.mobileNabvar {
  background-color: white;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 999;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-left: 20px;
  padding-top: 40px;
}

.mobileNabvarList {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 60px;
}

.mobileNabvarListItem {
  font-size: 30px;
  font-weight: bold;
}

.mobileMenuExit {
  width: 40px;
  height: 40px;
  position: absolute;
  right: 0;
  top: 0;
  margin-top: 10px;
  margin-right: 10px;
  background-color: rgb(224, 224, 224);
  border: 1px solid rgb(196, 196, 196);
  border-radius: 3px;
}

@media only screen and (min-width: 768px) {
  .navbar {
    justify-content: center;
  }

  .hambugerMenu {
    display: none;
  }

  .orchestraIcon {
    height: 50px;
    margin-top: 5px;
  }

  .navbarList {
    width: 70%;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
}