.pastConcerts {
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-top: 2px solid rgb(222, 222, 222);
  padding-top: 40px;
  padding-bottom: 50px;
  gap: 30px;
}

.pastConcertTitle {
  font-size: 26px;
}

.pastConcertDescription {
  font-size: 18px;
  color: rgb(107, 107, 107);
}

.pastConcertsDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.pastConcertsImg {
  width: 80%;
  max-width: 455px;
}

@media only screen and (min-width: 768px) {
  .pastConcertsDiv {
    display: flex;
    flex-direction: row;
    gap: 30px;
  }

  .pastConcertsImg {
    width: 40%;
    max-width: 455px;
  }
}