.program {
  background-color: rgb(49, 47, 47);
  background-image: url(../assets/program/backgroundBigNote.webp);
  background-size: contain;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.programSectionTitle {
  height: 120px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: black;
  font-size: 36px;
  font-weight: bold;
}

.music {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  background: linear-gradient(to right, rgba(23, 21, 21, 0.8), rgba(61, 58, 53, 0.5));
  height: 100px;
  width: 95%;
  max-width: 605px;
  gap: 15px;
  border-radius: 4px;
}

.music:hover {
  background: linear-gradient(to right, rgba(23, 21, 21, 0.9), rgba(61, 58, 53, 0.7));
}

.violinIcon {
  height: 50px;
}

.concertName {
  color: orangered;
  font-size: 22px;
}

.concertDescription {
  max-width: 250px;
}

.joinConcertBtn {
  background-color: rgb(255, 102, 0);
  border: none;
  border-radius: 6px;
  height: 90px;
  width: 320px;
  color: white;
  font-size: 18px;
  margin-top: 60px;
  margin-bottom: 30px;
}

.musicDiv {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 95%;
  align-items: center;
}

@media only screen and (min-width: 768px) {
  .program {
    background-image: url(../assets/program/backgroundBigNoteMirror.png);
    background-size: cover;
  }

  .music {
    flex-direction: column;
    height: 200px;
    width: 200px;
  }

  .musicDiv {
    flex-direction: row;
    text-align: center;
    justify-content: center;
  }
}