.program {
  background: url(../assets/program/pattern.png), #282b32;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.programSectionTitle {
  height: 100px;
  display: flex;
  flex-direction: column;
  color: white;
  font-size: 36px;
  font-weight: bold;
  padding-top: 60px;
}

.music {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  background-color: rgba(80, 79, 79, 0.5);
  height: 100px;
  width: 90%;
  min-width: 355px;
  max-width: 605px;
  gap: 15px;
  border-radius: 4px;
  border: 4px solid transparent;
}

.concertIcon {
  height: 50px;
  display: none;
}

.concertName {
  color: orangered;
  font-size: 22px;
}

.concertDescription {
  max-width: 250px;
}

.joinConcertBtn {
  background-color: rgb(255, 102, 0);
  border: none;
  border-radius: 6px;
  height: 90px;
  width: 320px;
  color: white;
  font-size: 18px;
  margin-top: 60px;
  margin-bottom: 30px;
  transition: 0.1s;
}

.joinConcertBtn:hover {
  background-color: rgb(235, 110, 65);
}

.joinConcertBtn:active {
  background-color: rgb(247, 140, 101);
}

.musicDiv {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 95%;
  align-items: center;
}

.noDisplayMobile {
  display: none;
}

@media only screen and (min-width: 768px) {
  .music {
    flex-direction: column;
    height: 240px;
    min-width: 0;
    width: 250px;
    
  }

  .music:hover {
    border: 4px solid white;
  }

  .musicDiv {
    flex-direction: row;
    text-align: center;
    justify-content: center;
    flex-wrap: wrap;
  }

  .concertDescription {
    padding-left: 10px;
    padding-right: 10px;
  }

  .noDisplayMobile {
    display: inherit;
  }
}

@media only screen and (min-width: 480px) {
  .concertIcon {
    display: inherit;
  }
}
